<div class="container">
    <div class="row p-3 justify-content-center">
        @if(movie()){
        <div class="movie-container d-flex">
            <div class="movie-image p-3">
                <img [src]="movie()?.Poster" class="card-img-top fixed-img" alt="..." />
            </div>
            <div class="movie-details p-3 d-flex flex-column position-relative">
                <div class="button-container">
                    <button class="btn btn-close" type="button" routerLink="/" aria-label="Close"></button>
                </div>

                <div class="card-body">
                    <h3 class="card-title">{{movie()?.Title}}</h3>
                    <hr/>
                    <h4 class="card-text" style="font-size: small;">Released: {{ movie()?.Year }}</h4>
                    <h4 class="card-text" style="font-size: small;">Type: {{movie()?.Type}}</h4>
                    <h4 class="card-text" style="font-size: small;">Genre: {{ movie()?.Genre }}</h4>
                    <h4 class="card-text" style="font-size: small;">Plot: {{ movie()?.Plot }}</h4>
                </div>
            </div>
        </div>
        <!-- <div class="card w-100 h-100 d-flex">
            <div class="col-md-6 p-3">
                <div class="button-container mb-2 mt-1 ms-auto">
                    <button class="btn btn-close" type="submit" routerLink="/" aria-label="Close"></button>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
            <div class="col-md-6 p-3 d-flex flex-column justify-content-between">
                <div class="card-body">
                    <h3 class="card-title">{{movie()?.Title}}</h3>
                    <h6 class="card-text" style="font-size: small;">Released: {{ movie()?.Year }}</h6>
                    <h6 class="card-text" style="font-size: small;">Type: {{movie()?.Type}} </h6>
                    <h6 class="card-text" style="font-size: small;">Genre: {{ movie()?.Genre }}</h6>
                    <h6 class="card-text" style="font-size: small;">Plot: {{ movie()?.Plot }}</h6>
                </div>
            </div>
        </div> -->
        }@else {
        <div class="col-md-4 p-3">
            <div class="card w-100 h-100">
                <p>Movie not found.</p>
            </div>
        </div>
        }
    </div>
</div>