<div class="container">
    <div class="row">
        <div class="col-md-4 align-items-center" >
            <form class="p-3" (ngSubmit)="onSubmit(userName.value,password1.value,password2.value, form)" #form>
                <div class="form-row">
                    <div class="form-group ">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" placeholder="Username" #userName>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword4">Password</label>
                        <input type="password" class="form-control" id="inputpassword1" placeholder="Password" #password1>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword4">Confirm Password</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Password" #password2>
                    </div>
                </div>
                <div class="button-container mt-3">
                    <button type="submit" class="btn btn-primary" >Register</button>
                </div>            
            </form>
        </div>
    </div>
</div>