<div class="container">
    <div class="row">
        @for (detail of detailsMovie; track detail.id) {
            
            <div class="col-md-3 p-3">
                <div class="card w-100 h-100">
                    <img src={{detail.image}} class="card-img-top fixed-img" alt="..." />
                    <div class="card-body">
                        <h6 class="card-title">{{detail.title}}</h6>
                        <p class="card-text" style="font-size: small;">{{detail.description}}</p>
                        <a routerLink="/movieDetails" class="btn btn-primary" style="font-size: small;">View Details</a>
                    </div>
                </div>
            </div>        
        }@empty {
            <p>There are no Items to display.</p>
        }
    </div>
</div>